#app-buttons-wrapper {
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 4em;
}

#app-buttons {
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-buttons button[id$=button] {
    margin-top: 3px;
    margin-bottom: 7px;
    width: 100%;
    flex-basis: 1;
}

#app-buttons hr {
    width: 100%;
}

#start-button {
    width: 4em !important;
}

.vertical-expand {
    min-height: 20px;
}

@media (max-width: 800px) {
    #app-buttons div[id$=button] {
	font-size: 1.2em;
    }

    #app-buttons-wrapper {
        margin-right: 2em;
    }

    #app-buttons button[id$=button], #app-buttons hr {
        width: 90%;
    }
}
