$note_button_hover_color: rgba(0, 128, 255, 0.5);
$selected_note_button_color: rgba(0, 128, 255, 0.8);
$wrong_note_color: rgba(229, 0, 0, 0.7);
$right_note_color: rgba(0, 189, 56, 0.6);
$answer_note_color: rgba(255, 158, 0, 0.8);
$dark_note_color: #0a0a0a;
$light_note_color: #fefefe;


button[data-status=selected] {
    background: $selected_note_button_color !important;
}

button[data-status=wrong] {
    background: $wrong_note_color !important;
}

button[data-status=right] {
    background: $right_note_color !important;
}

button[data-status=answer] {
    background: $answer_note_color !important;
}

#notes-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 3em;
}

#notes-container button[id^=note] {
    border: thin black solid;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.6em;
    text-align: center;
    width: 4em;
    margin: 2px;
    padding: 2px;
}

#notes-container button[id^=note]:hover {
    background: $note_button_hover_color;
}

#note-ra, #note-me, #note-se, #note-le, #note-te {
    background: $dark_note_color;
    color: $light_note_color;
}

#note-do, #note-re, #note-mi, #note-fa, #note-sol, #note-la, #note-ti {
    background: $light_note_color;
    color: $dark_note_color;
}

#notes-and-buttons-view-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


#notes-and-buttons-view {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 800px) {
    #notes-container div[id^=note] {
	font-size: 1.4em;
    }
}
