$header_bg_color: #0080ff;
$bg_color: #fafafa;

@import 'note-choice-view';
@import 'app-buttons';
@import 'preferences';
@import 'modals';


body {
    background: $bg_color;
}

#page-header-wrapper {
    background: $header_bg_color;
}

#page-header {
    color: white;
    padding: 0;
    margin: 2px;
    height: 40px;
}

#page-header h1 {
    padding-left: 8px;
    padding-bottom: 4px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}

#page-wrapper {
    letter-spacing: 0em;
}

#app-view {
    padding-top: 16px;
}

@media (max-width: 800px) {
    #page-header h1 {
        font-size: 24px;
        text-align: left;
    }
}
